# Virtual Environment
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
*.log

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Distribution / packaging
dist/
build/
*.egg-info/ 